= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .question-index
    = link_to new_question_path, class: "questionlink" do
      質問を投稿はこちらから
      %i.fa.fa-hand-o-left
    .questioncontent
      - @questions.each do |q|
        .questiontext
          質問内容:
          =q.title
        .questionbox1
          .questionuser
            %i.fa.fa-user
            ユーザー名:
            =q.user.username
            さん  
          .questionday
            投稿した日付:
            =q.created_at
          .question-comment
            = link_to 'root' do
              %i.fas.fa-comment-alt :コメントする