.leftcontent
  .leftcontent-top
    メンバー名:
    .member
      - @users.each do |u|
        %ul
          %li
          = link_to user_path(u), class: "memberlist" do
            ・
            =u.username
      -# = link_to users_path do
      -#   ・masa
