= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .share
    .rightcontent
      = link_to new_share_path, class: "sharelink" do
        新規共有はこちら
        %i.fa.fa-hand-o-left
      .sharebox
        - @shares.each do |s|
          .sharetext
            共有:
            =s.share
          .sharebox1
            .shareuser
              %i.fa.fa-user
              ユーザー名:
              =s.user.username
              さん  
              .shareday
                投稿した日付:
                =s.created_at
