= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .share
    .rightcontent
      = link_to new_share_path, class: "sharelink" do
        新規共有はこちら
        %i.fa.fa-hand-o-left
      .sharebox
        - @shares.each do |s|
          .sharetext
            共有:
            =s.share
          .shareuser
            %i.fa.fa-user
            ユーザー名:
            =s.user.username
            さん  
          .shareday
            投稿した日付:
            =s.created_at
          .share-comment
            = link_to share_path(s) do
              %i.fas.fa-comment-alt :コメントする
          -# .container
          -#   = form_with(model: [@share, @sharecomment], local: true) do |form|
          -#     = form.text_area :text, placeholder: "コメントする", rows: "2"
          -#     = form.submit "SEND"

            
