= render 'messages/headcontent'
.maincontent
  .leftcontent
    .leftcontent-top
      グループ名
  .box
    .box-top
      ー新規共有ページー
    .box-text
      = form_with model: @share do |f|
        %ul 
          %li
            =f.text_area :share, class: 'target-box'
          %li  
            =f.submit '投稿する', class: 'sendbtn'