= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .box
    .box-top
      ー新規共有ページー
    .box-text
      = form_with model: @share, local: true do |f|
        %ul 
          %li
            =f.text_area :share, class: 'target-box'
          %li  
            =f.submit '投稿する', class: 'target-sendbtn'