.question-box {
  .question-new {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .question-new-box {
    .target-box {
      width: 600px;
      height: 400px;
      position: relative;
      left: 60px;
      top: 30px;
    }
    .target-sendbtn  {
      height: 50px;
      width: 100px;
      background-color: lightgray;
      color: black;
      position: relative;
      top: 60px;
      left: 500px;
      border-radius:5px;
    }
  }
}
.question-index {
  padding-left: 20px;
  padding-top: 10px;
  .questionlink {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
  .questioncontent {
    .questiontext {
      margin-top: 15px;
      border: 1px solid black;
      font-size: 24px;
      font-weight: 500;
    }
    .questionbox1 {
      .questionuser {
        font-size: 19px;
      }
    }
  }
}

.question-show {
  padding-left: 30px;
  .question-show-content {
    font-size: 25px;
    padding-top: 15px;
    .question-container {
      padding-top: 20px;
      .question-submit {
        background-color: lightblue;
        border-radius:5px;
        margin-left: 20px;
        position: relative;
        top: -25px;
      }
    }
    .questioncomments {
      padding: 5px;
      padding-top: 20px;
    }
  }
}

