.question-new {
    text-align: center;
    font-size: 30px;
  }
  .question-new-box {
    .target-box {
      width: 600px;
      height: 400px;
      position: relative;
      left: 60px;
      top: 30px;
    }
  }
.question-index {
  padding-left: 20px;
  padding-top: 10px;
  .questionlink {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
  .questioncontent {
    .questiontext {
      margin-top: 15px;
      border: 1px solid black;
      font-size: 24px;
      font-weight: 500;
    }
    .questionbox1 {
      .questionuser {
        font-size: 19px;
      }
    }
  }
}
.target-sendbtn  {
  height: 50px;
  width: 100px;
  background-color: lightgray;
  color: black;
  position: relative;
  top: 60px;
  left: 500px;
  border-radius:5px;
}