.sharelink {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 40px;
}
.share {
  overflow:auto;
  .rightcontent {
    .sharelink {
      color: blue;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      padding-left: 20px;
      position: relative;
      top: 10px;
    }
    .sharebox {
      padding-left: 20px;
      .sharetext {
        border:1px solid black;
        font-size: 24px;
        font-weight: 500;
        width:900px;
        margin-top: 15px;
      }
      .sharebox1 {
        display: flex;
        .shareuser {
          font-size: 19px;
        }
      }
    }
  }
}
.box {
  .box-top {
    text-align: center;
    font-size: 30px;
  }
  .box-text {
    .target-box {

    }
    .target-sendbtn {
      position: relative;
      left: 530px;
      top: 60px;
      border-radius:5px;
      height: 50px;
      width: 100px;
    }
  }
}
