.signup{
  width: 100vw;
  height: 100vh;
  background-color: black;
    .topsignup-text {
      font-size: 30px;
      color: #ffffff;
      text-align: center;
    }
    .signup-box {
      width: 500px;
      height: 600px;
      background-color: lightgrey;
      margin:0 auto;
      margin-top: 20px;
      .signup-box-text {
        margin:0 auto;
        color: #444;
        font-size: 1.5em;
        outline: none; 
        box-shadow: none; 
        -webkit-appearance: none; 
        border-radius: 0;
        border-top: none;
        border-left: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
        border-color: #bbb;
        background: transparent;
        display: block;
        height: 2em;
        width: 12em;
        margin-bottom: 5%;
        padding: 0 3%;
        position: relative;
        z-index: 0;
        -webkit-transition: border .25s; 
        -moz-transition: border .25s;
        -o-transition: border .25s;
        transition: border .25s;
        .signup-box-text1 {
          padding-top: 40px;
        }
        .signup-btn {
          padding-top: 20px;
          margin-left: 80px;
        }
      }
    }
}
.newregistration {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}