@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "targets";
@import "groups";
@import "signup";
@import "login";
@import "user";
@import "shares";
@import "questions";
@import "healths";

.notifications {
  color: #ffffff;
  text-align: center;  

  .notice {
    background-color: lightBlue;
    height: 30px;
  }

  .alert {
    background-color: alert_orange;
  }
}